.JionMembership-contain{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.JionFrom-contain{
    display: flex;
    flex-direction: column;
    gap:2.5em;
    padding-inline:2em;
    padding-block-end: 4em;
}
.jion-cont {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
:is(.JionFrom-title-tamil ,.JionFrom-title-english){
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

:is(.JionFrom-title-english h1,.JionFrom-title-tamil h1) {
color: #000;
font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
margin: 0.3em;
}
.JionFrom-title-english h1{
    font-size: 2rem;
}
.JionFrom-title-tamil h1{
    font-size: 1.8em;  
}

:is(.JionFrom-title-english p,.JionFrom-title-tamil p){
 color: #000;
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0.3em;
}
.JionFrom-title-english p{
    font-size: 0.95531rem;
}
.JionFrom-title-tamil p{
    font-size: 0.8rem;
    text-align: center;
}
.JionFrom-content{
    display: flex;
    gap:2em;
    width: 100%;
}
.JionFrom-content-right{
    width: 100%;
}
.JionFrom-content-left{
    width: 100%;
}
.JionFrom-content-inputs {
  width: 45vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.JionFrom-content-inputs-1 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
}
.JionFrom-content-right form{
    display: flex;
    flex-direction: column;
    gap:2em;
}
.JionFrom-content-inputs-1 label{
  width: 150px;
  color: #000;
font-family: 'Poppins';
font-size: 0.95531rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.JionFrom-content-inputs label{
    width: 150px;
    color: #000;
font-family: 'Poppins';
font-size: 0.95531rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
:is(.JionFrom-content-inputs input ,.JionFrom-content-inputs select){
    margin-right: 3em;
    padding: 0.5em;
    border-radius: 0.14331rem;
    border: 1px solid #000;
    
}
:is(.JionFrom-content-inputs-1 input ,.JionFrom-content-inputs-1 select){
  margin-right: 6em;
  padding: 0.5em;
  border-radius: 0.14331rem;
  border: 1px solid #000;
  
}
.JionFrom-content-inputs-1 input{
  margin-right: 3em;
  width: 18.15344rem;
}
.JionFrom-content-inputs-1 select{
  margin-right: 6em;

}
.JionFrom-content-inputs-1 input:focus{
 outline: none;
 border: 2px solid #042069;
}
.JionFrom-content-inputs input{
   margin-left: 2rem;
    width: 18.15344rem;
    height: 32px;
    padding: 0.5em;
}
.JionFrom-content-inputs select{
    margin-right: 6em;
  
}
.JionFrom-content-inputs input:focus{
   outline: none;
   border: 2px solid #042069;
}
.select-box {
  position: relative;
  display: block;
  padding: 0.5rem;
  margin-left: 2rem;
  width: 17rem;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial", sans-serif;
  font-size: 16px;
  color: #60666d;
  border-radius: 0.14331rem;
  border: 0.764px solid #000;
  margin-right: 5em;
  height: 32px;
  }
  .select-box__current {
    position: relative;
    cursor: pointer;
    outline: none;
  }
  .select-box__current:focus + .select-box__list {
    opacity: 1;
    -webkit-animation-name: none;
            animation-name: none;
  }
  .select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
  }
  .select-box__current:focus .select-box__icon {
    transform: translateY(-50%) rotate(180deg);
  }
  .select-box__icon {
    position: absolute;
    top: 15px;
    right: 15px;
    transform: translateY(-50%);
    width:1em;
    transition: 0.2s ease;
  }
  .select-box__value {
    display: flex;
  }
  .select-box__input {
    display: none;
  }
  .select-box__input:checked + .select-box__input-text {
    display: block;
  }
  .select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    background-color: #fff;
  }
  .select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    z-index: 1;
    list-style: none;
    opacity: 0;
    -webkit-animation-name: HideList;
            animation-name: HideList;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
            animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  }
  .select-box__option {
    display: block;
    padding: 15px;
    background-color: #fff;
  }
  .select-box__option:hover, .select-box__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
  }
  .JionFrom-content-inputs textarea {
    width: 18rem;
    height: 8em;
    margin-right:5em;
    resize: none;
  }
  .JionFrom-content-inputs textarea:focus{
    outline: none;
    border: 2px solid #042069;
  }
  .Address {
    display: flex;
    gap: 1em;
    flex-direction: column;
    margin-left: 180px;
    margin-top: 32px;
}
.Upload-content-inputs{
  display: flex;
  align-items: center;
  gap:1em;
}
.UploadAdharaCard{
display: flex;
flex-direction: column;
gap:0.5em;
width: 165px;
align-items: flex-start;
}
.text-area-address {
  width: 18rem;
  margin-left: 0 !important;
}
.UploadAdharaCard p{
  color: #000;
font-family: 'Poppins';
font-size: 0.95531rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
}
.UploadAdharaCard span{
  color: #1A4EB4;
font-family: Poppins;
font-size: 0.57319rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
text-align: center;
}
.Upload-adhar-btn{
  padding: 0.5em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.38213rem;
 background: var(--button, linear-gradient(180deg, #697CAD 0%, #143589 100%));
}
.Upload-adhar-btn label{
  margin: 0;
  color: #FFF;
font-family: Poppins;
font-size: 0.95531rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}
.JoinNow{
  width: 100%;
  display: flex;
  
  text-align: center;
  align-items: center;
  justify-content: center;
 }
:is(.JoinNow button:disabled,.JoinNow button:not(:disabled)){
color: #FFF;
font-family: Poppins;
font-size: 1.24194rem;
font-style: normal;
font-weight: 500;
padding:0.5em 1em;
width: 150px;
border: none;
line-height: normal;
text-transform: uppercase;
border-radius: 0.38213rem;
margin-right: 8em;
}
.JoinNow button:disabled{
  background-color: rgb(0, 0, 0);
}
.JoinNow button:not(:disabled){
  background: var(--SOCIAL, linear-gradient(89deg, #820000 0.53%, #FF0505 99.5%), #E6E6E6);
}
.uploaded-btn{
  display: flex;
  align-items: center;
  gap:1em;
}
.uploaded-btn p{
  color: #05642B;
font-family: Poppins;
font-size: 0.86875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}
.uploaded-btn span{
  color: #0066AF;
font-family: Poppins;
font-size: 0.86875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}
img.jionMember-coverImg{
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .JionFrom-content-left {
    width: 70%;
  }
  img.jionMember-coverImg{
    width: 100%;
  }
}

  @-webkit-keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }
  
  @keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }

@media screen and (max-width:450px) {
  .JionFrom-content-inputs{
    flex-direction: column;
    gap:1em;
    align-items: flex-start;
  }
  :is(.Upload-content-inputs,.JionFrom-content){
    flex-direction: column;
  }
 .jionMember-coverImg{
    width: 310px !important;
  }
  :is(.select-box,.JionFrom-content-inputs input,.Address){
    margin: 0;
  }
  .jion-cont p{
    display: none;
  }
  .JoinNow p{
    margin: 0;
  }
}