.fade-in {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  


.fade-in-left {
    opacity: 0;
    transform: translateX(-50px);
    animation-name: fadeInLeft;
    animation-duration: 2s;
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  