/* Style for the Scroll to Top button */
.container{
  overflow: hidden;
}
  .scroll-to-top-btn img {
    display: none;
    height: auto;
    width: 1.6vw;
    position: fixed;
    bottom: 20px;
    right: 20px;
   
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
   
    background-size: cover;
  }
  .scroll-to-top-btn:hover{
    border: 2px solid rgb(130, 130, 238);
    background-color: aqua;
  }
  .scroll-to-top-btn{
    position: fixed;
    z-index: 8;
    height: auto;
    width: 4vw;
  }
  
section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: blue;
 }
 .hidden {
   opacity: 0;
   filter: blur(5px);
   transform: translateX(-100%);
   transition: all 1s ease 0.5s  ;
 }
 :is(.hidden-1,.hidden-11,.hidden-12) {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100px);
  transition: all 1s ease 0.5s  ;
}
:is(.hidden-10,.hidden-2 ){
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  overflow: hidden;
  transition: all 1s ease 0.5s  ;
}
.hidden-3 {
 
  transform: translateY(10px);
  transition: all 1s ease 1s  ;
}
.hidden-4{
  transform: translateY(10px);
  transition: all 1s ease 1.5s  ;
}
.hidden-5{
  transform: translateY(10px);
  transition: all 1s ease 2s  ;
}
.hidden-6{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  overflow: hidden;
  transition: all 1s ease 0.5s  ;
}
:is(.hidden-7,.hidden-13){
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  overflow: hidden;
  transition: all 1s ease 0.5s  ;
}
:is(.hidden-8,.hidden-9,.hidden-14){
  opacity: 0;
  filter: blur(5px);
  transition: all 1s ease 1.2s  ;
}
 .show {
   filter: blur(0);
   transform: translateX(0);
   opacity: 1;
 
 }
 .show-1 {
  transform: translateY(0);

 }
 @media(prefers-reduced-motion){
  .hidden{
   transition: none;
  }
 }
  
 
  